<footer class="py-28 bg-gradient-to-t from-orange-500 to-red-500 text-white text-center" >
    <div>
      <ul style="display: list-item;">
        <li> <a href="https://www.facebook.com/profile.php?id=100053789319380&locale=fr_FR">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/mohamed-dhia-bargui-266bb8246/"></a>linkedin</li>
        <li><a href="https://github.com/Bargui2003"></a>github</li></ul>
    </div>
    <p>&copy; 2024 Bargui Mohamed Dhia . Tous droits réservés.</p>
  </footer>

